export ETH_FROM='string: wallet address'
export ETH_KEYSTORE='string: keystore directory'
export ETH_PASSWORD='string: keystore file password'

export ALCHEMY_API_KEY='string: API key'
export ETHERSCAN_API_KEY='string: API key'

export MIP21_LIQUIDATION_ORACLE='string?: address of the MIP21 Liquidation Oracle [optional]'
export OPERATOR='string?: the address of the operator [optional]'
export MATE='string?: the address of the mate [optional]'
export RWA_URN_PROXY_VIEW='string?: address of the RwaUrnProxyView helper contract [optional]'

#  Link DssExecLinb
export DSS_EXEC_LIB=0x7b69f21d16cd168391DD99C56B611d6Ea7F42848
export DAPP_LIBRARIES=lib/dss-exec-lib/src/DssExecLib.sol:DssExecLib:0x7b69f21d16cd168391DD99C56B611d6Ea7F42848
export DAPP_LINK_TEST_LIBRARIES=0

